img {
    max-width: 100%;
}

.body-content {}

.banner {
    background-color: red;
    height: 40px;
    width: 40px;
}



.inicio-left,
.inicio-rigth {
    padding-left: 2rem;
    padding-right: 2rem;

    @media (min-width: 768px) {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

.inicio-left:hover,
.inicio-left {
    background-color: #00FFC2;
    color: #232A38;
    padding-bottom: 3rem;


    @media (max-width: 767px) {
        padding-top: 65px;
        line-height: 40px;
    }

    @media (min-width: 768px) {
        padding-top: 100px;
    }
}


.text-center {
    text-align: center;
}

.text-secundario-inicio {
    text-decoration-line: line-through;
}






.text-extra{
    @media (max-width: 767px) {
        font-size: 4rem;
        font-weight: bold;
    }
}

.list-item-ident{
    margin-right: 0px;
    display: flex;
    align-items: center;
    font-weight: bold;

    @media (max-width: 767px) {
        font-size: 1.4rem;
        font-weight: bold;
    }
}


.price-number {
    font-size: 3.0em;
    font-weight: bold;
}

h1 {
    font-size: 3.0em;
    font-weight: bold;
}

h2 {
    font-size: 2.9em;
    font-weight: bold;
}

h3 {
    font-size: 1.4rem;
    font-weight: 400;
}

h4 {
    font-size: 1.2rem;
    font-weight: 400;
}

h5 {
    font-size: 1.1em;
    font-weight: 400;
}

h6 {
    font-size: 0.8rem;
    font-weight: 400;
}

p {
    font-size: 0.8rem;
    font-weight: 400;
}

@media (min-width: 768px) {
    .price-number {
        font-size: 2.3em;
        font-weight: bold;
    }

    h1 {
        font-size: 4.375em;
        font-weight: bold;
    }

    h2 {
        font-size: 2.5em;
        font-weight: bold;
    }

    h3 {
        font-size: 1.5em;
        font-weight: 400;
    }

    h4 {
        font-size: 1.313em;
        font-weight: 400;
    }

    h5 {
        font-size: 1em;
        font-weight: 400;
    }

    h6 {
        font-size: 0.875em;
        font-weight: 400;
    }

    p {
        font-size: 0.75em;
        font-weight: 400;
    }
}


.text-principal-inicio {
    font-size: 4.375em;
    font-weight: bold;
}

.text-secundario-inicio {
    font-size: 1.5em;
    font-weight: bold;
}

.icon-image-menu {
    max-height: 40px;
    max-width: 40px;
    height: 40px;
}

.icon-image {
    max-height: 40px;
    max-width: 40px;
    height: 40px;
    padding-left: 3rem;
    /* width: 40px; */
}

.icon-image-min {
    max-height: 17px;
    max-width: 17px;
    height: 17px;
    /* width: 17px; */
    margin: 0 0.5rem;
}

.boton-menu-agendar {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    color: #232A38;
}

.boton-inicio-agendar {
    font-size: 1.821em;
    font-weight: bold;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 29px;
    color: #232A38;
    background-color: white;

    @media (min-width: 768px) {
        margin: 3em auto 3em auto;
        padding: 2rem 2rem;
    }
    
    @media (max-width: 767px) {
        margin: 1em auto 1em auto;
        padding: 1rem 1rem;
        font-size: 1.1em;
    }
}

.boton-inicio-agendar:hover {
    color: white;
    background-color: #232A38;
}



.inicio-rigth {
    background-color: white;
    color: #5E6574;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 0rem;
    
    @media (min-width: 768px) {
        padding-bottom: 3rem;
        padding-top: 200px;
    }
}


.metodo1{
    padding-top: 5em;
    padding-bottom: 5em;

    @media (min-width: 768px) {
        padding-top: 100px;
    }
}

.metodo2 {
    padding-top: 5em;
    padding-bottom: 5em;

    @media (min-width: 768px) {
        padding-top: 0px;
    }
}

.metodo1 {
    @media (max-width: 767px) {
        padding-bottom: 0em !important;
    }
}

.metodo3 {
    height: 100vh;
}

.pad-lat-min {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.pad-lat {
    padding-left: 2rem;
    padding-right: 2rem;

    @media (min-width: 768px) {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

.pad-lat:hover {
    background-color: #FAFBFF;
}

.pad-lat:hover .container-lonk-to-email h3 {
    transform: translateX(50px);
    transition: transform 0.3s ease;
}

.pad-lat:hover .container-lonk-to-email .icon-image {
    transform: translateX(50px);
    transition: transform 0.3s ease;
}

.pad-lat .container-lonk-to-email:not(:hover) {
    transition-delay: 0.3s ease;
}

.py-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}


.pad-lat-h {
    padding-top: 0rem;
    padding-bottom: 5rem;

    @media (min-width: 768px) {
        padding-top: 3rem;
    }
}



.image-banner-coffe {
    height: 100vh;
    object-fit: cover;

    @media (min-width: 768px) {
        width: 100%;
        width: 100vw;
        position: absolute;
        left: 0;
        object-fit: cover;
    }
}


/* fin inicio */


.justify-content-center {
    display: flex;
    justify-content: center;
}

.justify-content-space-around {
    display: flex;
    justify-content: space-around;
}

.align-items-center {
    display: flex;
    align-items: center;
}

.align-items-end {
    display: flex;
    align-items: flex-end;
    /* margin-bottom: 10px; */
}

.t-green {
    color: #00FFC2;
}

.b-green {
    background-color: #00FFC2;
}

.card-prices {
    -webkit-box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.05);
    margin: 0.5em;
    height: 100%;
    border-radius: 54px;
}

.card-prices .ant-card-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ident-list-item {
    display: flex;
    flex-wrap: nowrap;
}

ul {
    list-style: none;
    padding-left: 0px !important;
}

li {
    margin-bottom: 1rem;
}

li h2 {
    margin: 0 2.5rem;
}

.container-icon-list {
    background-color: #00FFC2;
    padding: 1rem;
    border-radius: 45%;
    height: 30px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.agendar-button {
    border: solid 2px #232A38 !important;
    padding: 0.7rem 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: min-content;
    min-height: min-content;
    font-weight: bold;
    border-radius: 10px;
    color: #232A38;
    height: 25px;
}

.agendar-button:hover {
    border-color: transparent;
    color: #232A38;
    background-color: #00FFC2;
}

.agendar-button-nav {
    display: none;
    padding: 0.7rem 1.6rem;
    justify-content: center;
    align-items: center;
    min-width: min-content;
    min-height: min-content;
    border: solid 2px #232A38;
    font-weight: bold;
    border-radius: 10px;
    color: #232A38;
    height: 45px;

    @media (min-width: 768px) {
        display: flex;
    }
}

.agendar-button-nav:hover {
    border-color: transparent;
    color: #232A38;
    background-color: #00FFC2;
}

.menu-button-nav {
    display: flex;
    padding: 0rem;
    justify-content: center;
    align-items: center;
    min-width: min-content;
    min-height: min-content;
    font-weight: bold;
    border-radius: 10px;
    color: #232A38;
    background-color: transparent;
    margin: auto 0px;
    height: 40px;
    width: 40px;
    z-index: 99;
    border: none !important;
    outline: none !important;
    border-color: transparent !important;
    outline-color: transparent !important;

    @media (min-width: 768px) {
        display: none;
    }
}

.menu-button-nav-2 {
    z-index: 99;
    border: none !important;
    outline: none !important;
    border-color: transparent !important;
    outline-color: transparent !important;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: min-content;
    min-height: min-content;
    font-weight: bold;
    border-radius: 10px;
    background-color: transparent;
    color: #232A38;
    margin: auto 0px;
    height: 40px;
    width: 40px;

    @media (min-width: 768px) {
        display: none;
    }
}

.link-foot-social {
    color: white;
    margin: 1rem;
    display: flex;
    flex-wrap: nowrap;
}

.sub-muted-text {
    position: absolute;
    margin-top: -25px;
    margin-left: 0.3rem;
    font-weight: bold;
}

.text-dudas {
    text-align: left;
    font-weight: bold;

    @media (min-width: 768px) {}
}

.li-to-email {
    display: flex;
    justify-content: space-between;

    @media (min-width: 768px) {
        justify-content: space-around;
    }
}

.container-link {
    text-decoration: none;
    color: #232A38;
}

.menu-mobile {
    display: flex;
    background: transparent;
    min-width: 275px;

    display: flex;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: space-between;
    background-color: #00FFC2;
    padding: 8rem 3rem 3rem 3rem;

    @media (min-width: 768px) {
        display: none;
    }
}

.custom-list-item{
    height: 60px !important;
    line-height: 0.1rem !important;
}

.menu-desktop {
    display: none;
    background: transparent;
    min-width: 275px;

    @media (min-width: 768px) {
        display: flex;
    }
}

.menu-desktop li span {
    padding-top: 0.9rem;
    display: flex;
}
.menu-desktop li span a {
    min-height: min-content;
    height: 50px;
}

.ant-menu {
    background-color: transparent !important;
}

.ant-menu-item {
    background-color: transparent !important;
}

.ant-menu-item:hover::after {
    border-bottom-color: #232A38 !important;
}

.ant-menu-item-selected {
    font-weight: bold;
    color: #232A38 !important;
}

.ant-menu-item-selected::after {
    border-bottom-color: #232A38 !important;
}

.globo {
    width: 100%;
    position: absolute;
    padding: 1rem;
    border-radius: 25px;
}

.globo-1 {
    max-width: 250px;
    background-color: #ff004cc7;
    color: white;
    font-weight: bold;
    right: 14vw;
    margin-top: -95vh;

    @media (min-width: 768px) {
        margin-top: 15vh;
    }
}

.globo-2 {
    max-width: 325px;
    background-color: rgba(255, 255, 255, 0.822);
    color: #232A38;
    right: 3vw;
    margin-top: -80vh;

    @media (min-width: 768px) {
        margin-top: 30vh;
    }
}

.globo-3 {
    max-width: 325px;
    background-color: rgba(255, 255, 255, 0.808);
    color: #232A38;
    right: 3vw;
    margin-top: -65vh;

    @media (min-width: 768px) {
        margin-top: 45vh;
    }
}

.globo-4 {
    max-width: 325px;
    background-color: rgba(255, 255, 255, 0.808);
    color: #232A38;
    right: 3vw;
    margin-top: -50vh;

    @media (min-width: 768px) {
        right: 9vw;
        margin-top: 60vh;
    }
}

.globo-5 {
    max-width: 325px;
    background-color: rgba(255, 255, 255, 0.808);
    color: #232A38;
    right: 3vw;
    margin-top: -35vh;

    @media (min-width: 768px) {
        right: 9vw;
        margin-top: 75vh;
    }
}

.contador {
    font-size: 5em !important;
    font-weight: bold;
    color: #232A38;
}

.contador-complete {
    font-size: 5em !important;
    font-weight: bold;
    color: #00E5AE;
}

.layoutHeader {
    height: 120px;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    z-index: 10;
    height: 80px;
    width: 100%;
    max-width: 1600px !important;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
    @media (max-width: 767px) {
        padding-left: 2rem;
        padding-right: 2rem;
        align-items: center;
    }
}

.container-logo {
    width: 140px;
    max-height: 45px;
}

.container-logo {
    width: 140px;
    max-height: 45px;
}

.container-lonk-to-email {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    color: #232A38;
}

.container-lonk-to-email h3 {
    color: #232A38 !important;
}

section {
    max-width: 100% !important;
}

#logo-svg {
    @media (max-width: 767px) {
        /* margin-top: 0.8rem; */
        /* width: 100px;
        height: 25px !important; */
    }

    @media (min-width: 768px) {

    }
}

.show-sm {
    @media (max-width: 767px) {
        display: flex;
    }

    @media (min-width: 768px) {
        display: none;
    }
}

.show-md {
    @media (max-width: 767px) {
        display: none;
    }

    @media (min-width: 768px) {
        display: flex;
    }
}


.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.d-block {
    display: block;
}

.d-md-flex {
    @media (min-width: 768px) {
        display: flex;
    }
}
.d-md-block {
    @media (min-width: 768px) {
        display: block;
    }
}

.d-md-none {
    @media (min-width: 768px) {
        display: none;
    }
}

.hr-bar {
    margin-bottom: 0px;
    border: solid 1px #f3f3f3;
}




* {
    /* border: none; */
    outline: none;
}

.ant-row:hover,
.ant-col:hover{
    background-color: transparent !important;
}

.inicio-left:hover,
.inicio-left {
    background-color: #00FFC2 !important;
}

.link-agendar {
    font-weight: bold;

    @media (max-width: 767px) {
        font-size: 1.2rem !important;
    }

    @media (min-width: 768px) {
        font-size: 1.5rem !important;
    }
}